4.Naive Bayes : Perform spam email detection using Naive Bayes classifier
Dataset : https://drive.google.com/file/d/1B8GIgpDYo0jOw6tv-kgmGxt2_HVknWZx/view?usp=sharing

In [1]:
import pandas as pd
df_spam = pd.read_csv("spam.csv")

In [2]:
df_spam.sample(5)

     Category                                            Message
2343     spam  Double your mins & txts on Orange or 1/2 price...
5382      ham  I can make it up there, squeezed  &lt;#&gt;  b...
2588      ham                            Aight, see you in a bit
5456     spam  For the most sparkling shopping breaks from 45...
1919      ham                 Is fujitsu s series lifebook good?

In [3]:
df_spam.describe(include = 'all')

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30